.post-page-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.heading {
  font-family: "Raleway";
}

.sidebar {
    max-width: 350px;
}




@media only screen and (max-width: 850px) {
 .sidebar{display: none;}
 .post-page-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}