
p, .title, ul {
  font-family: "Raleway";
}

.index-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
} 

.sidebar {
    max-width: 350px;
}



@media only screen and (max-width: 850px) {
  .sidebar{display: none;}
  .index-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media print {
  .sidebar, .heading, .head-elements, .mt-4, footer {
    display:none;
  }
  body {
    margin: 0;
    color: #000;
    background-color: #fff
  }
  .post-page-main {
    display: inline;
  }

}