.panel-third {
  width: 27%;
  float: left;
  text-align: center;
  margin-right: 3%;
}

.panel-half {
  width: 45%;
  float: left;
  text-align: center;
  margin-right: 5%;
}

.panel-title {
  font-size: 24px;
}

.panel-content {
  height: 175px;
}

.panel-container {
  clear: both;
}

.panel-more {
  bottom: 0;
}

a.read-more {
  border: 1px solid #C1C1C2;
  border-radius: 3px;
  padding: 3px 5px;
  margin-bottom: 5px;
  font-family: "Raleway";
  color: gray;
  bottom: 0px;
}