<div class="bio-main w-75">
    <img src="/images/Josh.jpg" style="max-width: 100px;" class="profile-img" alt="">
    <h3 class="mt-2 author-bio">{{ .Site.Params.author.name }}</h3>
    <small class="text-muted">{{ .Site.Params.tagline }}</small>
    <div style="clear: both; padding-top: 10px;">
        <img src="/images/aws-certified-devops-engineer-professional.png" alt="AWS Certified DevOps Engineer Professional">
        <img src="/images/aws-certified-solutions-architect-associate.png" alt="AWS Certified Solutions Architect Associate">
        <img src="/images/microsoft-certified-devops-engineer-expert.png" alt="Microsoft Certified DevOps Engineer Expert">
        <img src="/images/microsoft-certified-azure-administrator-associate.2.png" alt="Microsoft Certified Azure Administrator Associate">
    </div>
</div>
