name: Main branch build
defaults:
  run:
    shell: bash
on:
  push:
    branches:
      - "main"
      - "feature/github-action"
    paths-ignore:
      - "terraform/"
jobs:
  build:
    name: Build main branch
    env:
      AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY_ID }}"
      AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
      AWS_DEFAULT_REGION: us-east-1
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true
      - name: Build with Hugo
        run: hugo --gc --minify
      - name: Deploy to S3
        run: hugo deploy