name: Main branch build
on:
  push:
    branches:
      - "main"
      - "feature/github-action"
    paths-ignore:
      - "terraform/"
jobs:
  build:
    name: Build main branch
    runs-on: ubuntu-20.04
    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: "15"
      - name: npm install
        uses: jaid/action-npm-install@v1.2.1
      - name: Gatsby build
        run: node_modules/.bin/gatsby build